{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  // 因为手动改写了mint的css样式,所以这里无需添加plugins
  // "plugins": ["transform-runtime", ["component", [
  //   {
  //     "libraryName": "mint-ui",
  //     "style": true
  //   }
  // ]]],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
