body, ul, dd, dt, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }
body{
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light','Microsoft yahei', arial, sans-serif;
  background-color:#f6f6f6;
}
a{
  text-decoration: none;
}
